--- sound/soc/codecs/Kconfig
+++ sound/soc/codecs/Kconfig
@@ -503,3 +503,10 @@
 	depends on I2C
 	help
 	TPA6165A2 headset detection IC chip
+
+config SOUND_CONTROL_HAX_3_GPL
+	tristate "new wcd93xx sound control hax"
+	default y
+	help
+	  FauxSound WCD93xx chipset sound control hacks 3.0 for deeper hax
+
